* {
    box-sizing: border-box;
}

nav {
    display: flex;
    position: sticky;
    top: 0;
}

.logo {
    width: 60vw;
}

nav ul {
    width: 35vw;
    display: flex;
    justify-content: space-around;
}

li {
    list-style: none;
}