* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

nav {
    position: sticky;
    top: 0;
}

.nav-container {
    display: flex;
}

.logo {
    width: 50vw;
}

.logo-img {
    width: 10vw;
    height: 5vh;
}

nav ul {
    width: 35vw;
    display: flex;
    justify-content: space-around;
}

li {
    list-style: none;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "left right"
    "left right";
}

#header {
    font-size: 4.5em;
}

#hero h2 {
    font-family: 'Barlow', sans-serif;
}

#header-img {
    grid-area: right;
    width: 45vw;
    height: 60vh;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

video {
    width: 100%;
    max-width: 35vw;
}