* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    padding: 0;
}

body {
    margin: 0;
    background-color: #f8f8ff;
    background-image: url("https://github.com/lcsmrt/FCC-Projects/blob/main/Responsive%20Web%20Design/Product%20Landing%20Page/Images/absurditybkg.png?raw=true");
}

nav {
    position: sticky;
    top: 0;
    background-color: #ffffff;
}

.nav-container {
    display: flex;
}

.logo {
    width: 50vw;
}

.logo-img {
    max-width: 12vw;
    max-height: 6vh;
    padding: 0.5%;
    padding-left: 2.5%;
}

nav ul {
    width: 35vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    list-style: none;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "left right"
    "left right";
    margin-top: 5%;
}

#title {
    font-size: 4em;
    margin-left: 5%;
    margin-right: 2%;
}

#hero h2 {
    font-family: 'Barlow', sans-serif;
    font-size: 1.6em;
    margin-left: 5%;
    margin-right: 2%;
}

#header-img {
    grid-area: right;
    width: 40vw;
    max-height: 80vh;
    margin: 3%;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#features {
    display: flex;
}

#how-it-works {
    display: flex;
}

#pricing {
    display: flex;
}

.pack {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 5vw;
    margin: 0 1vw;
    border: 1px solid black;
}

video {
    width: 100%;
    max-width: 35vw;
}